Package: com.victorlobe.appstorefix
Name: AppStoreFix
Version: 1
Architecture: iphoneos-arm
Description: Fix the App Store on iOS 6!
Maintainer: Victor <contact@victorlobe.me>
Author: Victor <contact@victorlobe.me>
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Conflicts: com.skyglow.itunesstorex, net.nekokawa.appstorefix, net.nekokawa.storeetcfix, net.nekokawa.storeloginfix, net.nekokawa.storesslfix
Depiction: http://repo.victorlobe.me/depictions/depiction.html?id=com.victorlobe.appstorefix
Compatibility: iOS 6.0+
